/* latin */
/*@font-face {
  font-family: 'Montserrat-400';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat-Regular'), url(../fonts/montserrat-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
!* latin *!
@font-face {
  font-family: 'Montserrat-700';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/montserrat-700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/


/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/robotoRegular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/robotoCondensed.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* set the size of the datepicker search control for Order Date*/
#ui-datepicker-div { font-size:11px; }

/* set the size of the autocomplete search control*/
.ui-menu-item {
  font-size: 11px;
}
.ui-autocomplete { font-size: 11px; position: absolute; cursor: default;z-index:5000 !important;}


.dropdown-toggle.fake-link{
  background: white none repeat scroll 0% 0%;
  color: #9e9e9e;
  text-decoration: none;
  cursor: pointer;
  padding-left: 13px;
  font-size: 16px;
  display: inline-block;
  padding: 2px;
  /*border: 1px solid #ffffff;*/
  margin-top: 18px;
  /*margin-left: 40px;*/
  width: 141px;
  text-indent: 12px;
  /*padding: 8px;*/
  /*border: 1px solid gray;*/
  border-radius: 2px;
}
/*.nav.navbar-nav{
    margin-top: 15px;
    margin-left: 20px;
}*/
#bs-example-navbar-collapse-1 .dropdown-menu{
  left: auto;
  /*margin-left: 39px;*/
  /*border-radius: 0;*/
  top: 47px;
  min-width: 143px;
  width: 144px;
  z-index: 9999 !important;
  border-radius: 3px;
  padding: 0px !important;
}
.containerDiv{
  margin-top: 68px;
  text-align: -webkit-center;
}

.adminPanel {
  position : relative;
  /*top:60px;*/
}
.navbar-default{
  background: #ff7d00 !important;
  /*background: #e47c3f !important;*/
  /*background: url('/assets/crud-app/images/header_menu_bg.jpg');*/
  background-size: 100% 100%;
  border-color: transparent;
}

/*#jqGridBranchesPager{
    height: 45px;
}*/
.ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox {

  height: auto !important;


}
.ui-jqgrid .ui-pg-input, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-input {
  height: auto !important;
}

li.user{
  list-style-type: none;
  color: #777777;
}
li.logout {
  list-style-type: none;
  color: #777777;
  font-weight: bold;
}
.userInfo{
  line-height: 50px;
}
.userIcon{
  padding: 3px;
  color: #9e9e9e;
  background: white;
  border-radius: 2px;
  top: 4px;
  position: relative;
  min-width: 100px;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
}
.userWelcome{
  position: relative;
  top: 7px;
  /*color: #ffffff;*/
  /*font-weight: bold;*/
}
.logoutAnchorBtn{
  position: relative;
  top: 5px;
}

.logout a{
  /*color:  #777777;*/
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
}
img.homeLogo{
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  position: relative;
  top: -3px;
}
.homeLogoWrapper{
  width:15%;
}
.homeLogoAnchor{
  padding: 2px 22px !important;
}
/*.dropdownForMenu{
     padding: 5px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    margin-left: 40px;
  width:141px;
}*/


/*login page css*/
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;

  background-size: cover;
  background: #ECECEC;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 213px;
  height: 36px;
  /*background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;*/
  margin: 30px auto;
}

.ui-pg-div:hover{
  color:white;
  font-weight: normal;
}


.ui-jqgrid .ui-jqgrid-resize{
  height: 42px !important;
}

.ui-jqgrid tr.jqgrow td {
  font-size: 14px;
  text-align: center;
  /* font-weight: bold; */
  /*color: #160000;*/
  line-height: 38px;
  background: white;
  color: black;
}

.ui-jqgrid .ui-jqgrid-htable th div{
  /*margin-top: 13px !important;*/
  font-size: 14px;
  /*color: #ffffff;*/
  /*height: 20px;*/
  /*background: black;*/
}
.ui-jqgrid .ui-jqgrid-view input{
  font-size: 14px;
}

.ui-jqgrid .ui-pg-table td {
  font-weight: bold !important;
  vertical-align: middle;
  padding: 0px 5px !important;
  color: #ffffff;
  font-size: 15px;
}
#pg_jqGrid_toppager, #jqGridBay_toppager,
#jqGridBayLocation_toppager, #jqGridBranches_toppager,
#jqGridRegion_toppager, #jqGridStation_toppager{
  /*background: #e89342;*/
  /*background: #ff7d00;*/
  background: #969696;
  height: 30px;
}
/*#jqGridBay .ui-state-default, #jqGridBay .ui-widget-content .ui-state-default,
#jqGridBayLocation .ui-state-default, #jqGridBayLocation .ui-widget-content .ui-state-default,
#jqGridHost .ui-state-default, #jqGridHost .ui-widget-content .ui-state-default,
#jqGridBranch .ui-state-default, #jqGridBranch .ui-widget-content .ui-state-default,
#jqGridStation .ui-state-default, #jqGridStation .ui-widget-content .ui-state-default,
#jqGridRegion .ui-state-default, #jqGridRegion .ui-widget-content .ui-state-default
{
  background: transparent !important;
  border: none !important;
}*/
/*.ui-state-default, .ui-widget-content .ui-state-default{
  background: transparent !important;
  border: none !important;
}*/

#jqGridBayPager_right .ui-paging-info,
#jqGridBayLocationPager_right .ui-paging-info,
#jqGridHostPager_right .ui-paging-info,
#jqGridBranchesPager_right .ui-paging-info,
#jqGridRegionPager_right .ui-paging-info,
#jqGridStationPager_right .ui-paging-info{
  margin-right: -10px;
  padding: 14.7px;
  background: rgb(255, 125, 0) none repeat scroll 0% 0%;
  top: -1.8px;
  position: relative;
  min-width: 180px;
  display: inline-block;
  text-align: center !important;
  float: left;
}
#jqGridBay.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridBayLocation.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridStation.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridRegion.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridBranches.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridHost.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td
{
  text-align: center !important;
}
#jqGridBay .ui-jqgrid-labels th,
#jqGridBayLocation .ui-jqgrid-labels th,
#jqGridHost .ui-jqgrid-labels th,
#jqGridStation .ui-jqgrid-labels th,
#jqGridBranches .ui-jqgrid-labels th,
#jqGridRegion .ui-jqgrid-labels th
{
  /*background-color:#6FBDD1 !important;*/
  /*background-color:#ff7d00 !important;*/
  /*background-color:#969696 !important;*/
  background-color: #464646 !important;
  border: none !important;
  padding: 12px !important;
  /*color: #156F86 !important;*/
}
#jqGridBayPager .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, #jqGridBayPager .ui-jqgrid .ui-jqgrid-pager .ui-pager-control,
#jqGridBayLocationPager .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, #jqGridBayLocationPager .ui-jqgrid .ui-jqgrid-pager .ui-pager-control,
#jqGridBranchesPager .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, #jqGridBranchesPager .ui-jqgrid .ui-jqgrid-pager .ui-pager-control,
#jqGridRegionPager .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, #jqGridRegionPager .ui-jqgrid .ui-jqgrid-pager .ui-pager-control,
#jqGridHostPager .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, #jqGridHostPager .ui-jqgrid .ui-jqgrid-pager .ui-pager-control,
#jqGridStationPager .ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, #jqGridStationPager .ui-jqgrid .ui-jqgrid-pager .ui-pager-control
{
  background: #696969;
  height: 48px !important;
  border-bottom: 1px solid #b5b5b5;
}

.ui-jqgrid .ui-jqgrid-hbox
{
  border-top: 1px solid #b5b5b5;
}
span.ui-icon{
  /*  border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 5px;*/
}
span.ui-icon:hover{
  /*  border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 5px;*/
}
/*span.ui-icon-closethick:hover{
    border:none;
    padding: 8px;
    border-radius: 5px;
}*/
.ui-jqgrid .ui-pg-button:hover {
  padding: 0;
  border: none;
}

td label{
  font-size: 14px !important;
}
.ui-jqdialog .ui-jqdialog-title{
  font-size: 15px;
  line-height: 12px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  /*background-color: #189ABC;*/
  background-color: #464646;
  background-repeat: no-repeat;
  background-image: none;
  text-shadow: none !important;
  color: #ffffff;
  font-size: 11px;
  line-height: normal;
  /*border-color: #767676 !important;*/
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: 0.1s linear background-image;
  -moz-transition: 0.1s linear background-image;
  -ms-transition: 0.1s linear background-image;
  -o-transition: 0.1s linear background-image;
  transition: 0.1s linear background-image;
  overflow: visible;
  height: 51px !important;
}

.ui-jqgrid-pager{
  /*background-color: #6FBDD1 !important;*/
  /*background-color: #ff7d00 !important;*/
  background-color: #767676 !important;
}
.ui-jqdialog{
  border-color: gray;
  background: #EAEAEA;
  z-index: 9998 !important;
}
.ui-widget-content {
  border: 1px solid #767676 !important;
}



.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  position: relative;
  margin-bottom: 18px;
  color: #ffffff !important;
  /*background: #E6E6E6 !important;*/
  background-repeat: repeat-x;
  background-image: none !important;
  text-shadow: none;
  /*border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;*/
  text-shadow: none;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius:0px!important;
  -moz-border-radius: 0px!important;
  border-radius: 0px!important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.ui-widget-content {
  background: #ffffff !important;
}

.ui-jqgrid .ui-jqgrid-caption {
  text-align: left;
  padding: 30px;
  line-height: 16px;
  font-size: 18px;
  color: #ffffff;
  /*background: #189ABC;*/
  /*background: #ff7d00;*/
  background: #969696;
}

.ui-jqgrid .ui-jqgrid-titlebar-close {
  position: absolute;
  top: auto;
  width: auto;
  margin: -10px 0 0 0;
  padding: 1px;
  height: auto;
  cursor: pointer;
}
.ui-jqgrid .ui-jqgrid-titlebar-close:hover {
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-size: 16px;
}
a .add_cell_btn {
  background: none;
  /*color: #156F86;*/
  color: #ff7d00;
  /*font-size: 20px;*/
  font-weight: bold;
  line-height: 2px;
  text-shadow: none;
  border: none;
  position: relative;
  top: 4px;
  /* border-radius: 39px; */
  /* height: 44px !important; */
  box-shadow: none;
}

.card{
  width: 18%;
  float: left;
}
.card-block{
  min-height: 115px;
  border: 2px solid #969696;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 17px;
}

.card-inner-block{
  min-height: 40px;
  padding: 10px;
  /*background: rgb(245, 194, 85) none repeat scroll 0% 0%;*/
  background: #969696 none repeat scroll 0% 0%;
  border-radius: 8px 8px 0px 0px;
  color: #FFF;
}

.border-top{
  min-height: 70px !important;
  border-top: 1px dashed #FFF;
  font-size: 18px;
  border-radius: 0px 0px 8px 8px !important;
  background: white none repeat scroll 0% 0%;
  color: black;
}
/*.ui-jqdialog{
  left: 25% !important;
  top: 25% !important;

}*/
.HeaderButton{
  display: none;
}
#jqGridRegionXlsButton .ui-pg-div, #jqGridRegionCsvButton .ui-pg-div,
#jqGridBranchesXlsButton .ui-pg-div, #jqGridBranchesCsvButton .ui-pg-div,
#jqGridStationXlsButton .ui-pg-div, #jqGridStationCsvButton .ui-pg-div,
#jqGridBayLocationXlsButton .ui-pg-div, #jqGridBayLocationCsvButton .ui-pg-div,
#jqGridBayXlsButton .ui-pg-div, #jqGridBayCsvButton .ui-pg-div,
#jqGridHostXlsButton .ui-pg-div, #jqGridHostCsvButton .ui-pg-div
{
  width: 50px;
  font-size: 15px;
  font-variant: all-petite-caps;
}
.ViewTable .CaptionTD, .ViewTable .DataTD {
  font-size: 13px;
}
.ui-jqdialog-content select.FormElement {
  width: 176.5px;
  font-size: 14px !important;
  border: 1px solid gray !important;

}
.container .grid-cards{
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff !important;
}


/******** jq grid color changes **********/

.ui-jqgrid .ui-jqgrid-caption {
  border-radius: 0px;
  border-bottom: 1px solid #b5b5b5;
}

.ui-widget-content {
  /*border: 1px solid rgb(24, 154, 188) !important;*/
  /*border: 1px solid #ff7d00 !important;*/
  border: 1px solid #969696 !important;
  border-radius: 0;
}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
  /*border-color: #189ABC !important;*/
  /*border-color: #ff7d00 !important;*/
  /*border-color: #c6c6c6 !important;*/
  border:none;
}
.ui-widget {
  /*margin-top: 20px;*/
  font-family: 'Roboto', sans-serif;
  margin-top: 44px;
  font-weight: normal !important;
  /*width:100% !important;*/
}
.ui-jqgrid .ui-jqgrid-pager{
  width:100%;
  font-size: 13px;
}

.ui-widget-header {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.ui-jqgrid .ui-pg-table td {
  font-weight: normal !important;
  vertical-align: middle;
  padding: 0px 7px !important;
  color: #ffffff !important;
}

.ui-jqgrid .ui-jqgrid-htable th div{
  font-weight: normal;
  cursor: default !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  border-top:none ;
  font-size: 15px;
}

.breadcrumb {
  padding: 7px 0px;
  margin-bottom: 3px;
  list-style: none;
  background-color: transparent !important;
  border-radius:0 !important;
  /* background-color: #f5f5f5; */
  /* border-radius: 4px; */
}

.breadcrumb>.active {
  /*color: #156F86 !important;*/
  color: #ff7d00 !important;
  font-weight: bold !important;
}

a {
  color: #9C9A9A;
  text-decoration: none;
}

.ui-search-toolbar th{
  background-color: #FFFFFF !important;
}

.ui-jqgrid .ui-pg-button:hover {
  padding: 0;
  background: transparent !important;
}
.ui-jqgrid tr.jqgrow:first-child{
  background: white;
}
.ui-jqgrid .ui-jqgrid-sortable{
  height: auto !important;
}
.ui-jqgrid tr.ui-search-toolbar td > input {
  padding-right: 0px;
  width: 97%;
  color: black;
  border-radius: 40px !important;
  /* border: 1px solid #189ABC !important; */
  /* border: 1px solid #ff7d00 !important; */
  /*border: 1px solid #969696 !important;*/
  padding: 6px 5px;
  font-size: 13px !important;
  margin: 3px;
  background: #d8d8d8 !important;
  border: none !important;
}
.ui-jqdialog{
  border: none !important;
}

.ui-jqdialog .ui-jqdialog-titlebar {
  border-radius: 0 !important;
}

.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content {
  border: none !important;
}
.ui-jqdialog-content input.FormElement {
  width: 176.5px !important;
  font-size: 14px !important;
  color: #454569 !important;
  border: 1px solid gray !important;
  border-radius: 0;
}
#Act_Buttons .ui-state-default{
  /*background-color: #6FBDD1 !important;*/
  background-color: #ff7d00 !important;
  color: white !important;
  border-radius: 0 !important;
  font-size: 12px !important;
  border: none !important;
  height: auto !important;
}

.ui-jqdialog-content hr.ui-widget-content {
  border: none !important;
}
.ui-state-highlight td, .ui-widget-content .ui-state-highlight td{
  background:#E6E6E6 !important;
}
.homeLogoAnchorOne{
  width:145px;
}
.ui-search-clear a{
  display: inline-block !important;
}

.ui-widget-header {
  background: #696969 url("images/ui-bg_gloss-wave_75_2191c0_500x100.png") 50% 50% repeat-x !important;
  color: white !important;
}
.delmsg{
  font-size: 13px;
  color: #777373;
}

.alert-success {
  /* color: WHITE;
   background-color: #3A9424 !important;
   background-image: none !important;
   border-radius: 0;
   border: none;*/
  position: fixed !important;
  z-index: 999;
  width: 100%;
  text-align: center;
  top: 52px;
}

#gridalert {
  position: fixed;
  top: -1px !important;
}

.alert-danger{
  /* color: WHITE;
  background-color: red !important;
  background-image: none !important;
  border-radius: 0;
  border: none;*/
  position: fixed !important;
  z-index: 999;
  width: 100%;
  text-align: center;
  top: 52px;
}

/*.alert-success {
    color: WHITE;
    background-color: #3A9424 !important;
    background-image: none !important;
    border-radius: 0;
    border: none;
    position: relative;
    top: 52px;
}*/

.alert-success .close{
  color: white !important;
  text-shadow: none;
  opacity: 1 !important;
}

.ui-timepicker-table {
  /*border: 1px solid #449FB7 !important;*/
  border: 1px solid #ff7d00 !important;
}

.ui-timepicker-table .ui-timepicker-title {
  line-height: 1.8em;
  text-align: center;
  border: none;
  background: none !important;
  /*color: #189ABC !important;*/
  color: #ff7d00 !important;
  font-size: 12px !important;
  font-weight: bold;
}
.ui-timepicker-hour-cell a, .ui-timepicker-minute-cell a{
  background: none !important;
  /* border: none !important; */
  color: black !important;
  font-size: 10px !important;
  /*border: 1px solid #81B8C6 !important;*/
  border: 1px solid #ff7d00 !important;
  /* padding: 17px !important; */
  width: 16px !important;
  text-align: center !important;
}
.ui-timepicker-hour-cell .ui-state-active, .ui-timepicker-minute-cell .ui-state-active{
  /*background: #156F86 !important;*/
  background: #ff7d00 !important;
  color: white !important;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  background-color: #FFFFFF;
  background-image: none !important;
  border: none !important;
  border-radius: 0px !important;
  padding: 5px;

  text-align: center;
  color: #F50404;
  font-size: 12px !important;
  text-shadow: none !important;
}

.tinfo{
  background-color: #FFFFFF;
  background-image: none !important;
  border: none !important;
  border-radius: 0px !important;
  padding: 5px;
  display: none;
  text-align: center;
  color: #00A600;
  font-size: 12px !important;
  text-shadow: none !important;
}
.ui-jqdialog-content .FormGrid{
  height: auto !important;
}

/* Home page css */
.home-col-head {
  font-size: 13px !important;
}

.home-data-font {
  font-size: 11px !important;
}

.ui-widget-overlay {
  z-index: 9997 !important;
}

.timepicker-hour, .timepicker-minute{
  left: 13px;
  position: relative;
  font-size: 12px;
}
.minute, .hour{
  font-size: 12px;
}


/*span.ui-icon.tree-wrap-ltr.ui-icon-circlesmall-plus{
  width: 18px;
  height:18px;
  background-image: url(uibootstrap/images/plus-outline.png);
}
span.ui-icon.tree-wrap-ltr.ui-icon-circlesmall-minus{
  width: 18px;
  height:18px;
  background-image: url(uibootstrap/images/minus-outline.png);
}*/

.ui-jqgrid tr.ui-search-toolbar select{
  width: 100% !important;
  height: 30px !important;
  /*border: 1px solid #189ABC !important; */
  /*border: 1px solid #969696 !important;*/
  outline: none;
  font-size: 13px !important;
  border-color: rgb(212, 202, 202) !important;
  border-radius: 61px !important;
  background: #d8d8d8 !important;
}

/* Jqgrid header fon-size increase
   in all dashboards */
.ui-jqgrid-sortable {
  /*font-size: 12px !important;*/
}

#jqGridHome > tbody > tr > td {
  font-size: 14px !important;
  border-color: #b5b5b5;
}
#nData, #pData {
  height: 20px !important;
}

/* jqGrid top alignment
 * in all dashboards
 */
.ui-jqgrid-view {
  /*top:29px !important;*/
}

.timepicker-hours, .timepicker-minutes{
  margin-left: 10px;
}

.timepicker-hours tr {
  width: 20px;
  float: left;
  padding-left: 5px;
}

.timepicker-hours tr td.hour {
  width: 100%;
  display: block;
}
#gridalert{
  position: relative;
  /* display: inline-block; */
  top: 30px;
}


.timepicker-minutes tr{
  width: 23px;
  float: left;
  padding-left: 8px;
}

.timepicker-minutes tr td.minute{
  width: 100%;
  display: block;

}

.timepicker-picker{
  position: relative;
  left: 18px;
}
/*.dropdown-toggle.fake-link span.caret{
  right: 6px;
  position: relative;
  border-top: 8px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}*/
.dropdown-toggle.fake-link span.caret {
  left: 10px;
  position: relative;
  border-top: 10px solid;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
.btn.btn-success{
  /*background: rgb(68, 159, 183) none repeat scroll 0% 0% !important;*/
  background: #969696 none repeat scroll 0% 0% !important;
  border: medium none;
  width: 200px;
  position: relative;
  top: -2px;
  border-radius: 0px;
  font-size: 17px;
  outline: none;
  margin-bottom: 5px;
  float: right;
  z-index: 999;
}
.gridCaption{
  font-size: 18px;
  position: relative;
  top: 10px;
  z-index: 999;
  display: table;
}
.customerGridCaption{
  margin: 0 auto;
  position: relative;
  /*top: 30px;*/
  margin-bottom: 20px;
}
.customerGridAdd{
  float: left !important;
  position: relative !important;
  /*position: absolute !important;*/
  /*top: 44px !important;*/
  top: 0px !important;
}
.rolesTable .bg-info{
  /*background-color: #6FBDD1 !important;*/
  /*background: rgb(1, 154, 190) none repeat scroll 0% 0%;*/
  background: #969696 none repeat scroll 0% 0%;
  color: white !important;
  text-transform: capitalize;
  font-weight: normal !important;
}
.rolesTable .btn.btn-default{
  /*border-radius:30px !important;*/
  float: left;
}
.createRolesBlock{
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.41);
  position: relative;
  float: none;
  min-height: 425px;
  padding-top:20px;
  padding-bottom:40px;
  width:93%;
  top:100px;
}
.adminPanel.rolesTable, .adminPanel.usersTable, .adminPanel.customerGrid{
  /* position: relative;
   float: none;
   margin: 0px auto;
   width: 84.2%;
   top: 71px;*/
  padding: 40px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 10px;
  margin: 100px auto 0px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.41);
  position: relative;
  float: none;
  /*min-height: 425px;*/
  width: 84.2%;
  overflow: auto;
}
.adminPanel.rolesTable form, .adminPanel.usersTable form, .adminPanel.customerGrid form{
  display: inline-block;
}
.adminPanel.rolesTable td input[type="submit"], .adminPanel.usersTable td input[type="submit"]{
  /*float: none;*/
  /*top: 40px;*/
  /*width: 300px;*/
  margin-left: 7px;
  font-size: 14px;
}
.adminPanel.usersTable label{
  font-weight: normal;
}
.adminPanel.usersTable select, #password, #password_confirmation{
  width:100%;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#RoleName, .NameRole.edit input{
  width: 250px !important;
  display: block !important;
  border-radius: 0;
}

#oss-dev-top-bar-lqp{
  position: relative;
  top:3px;
}
.baseDiv{
  display: inline-block;
  width: 100%;
}


.update-link {
  position: relative !important;
  color: #e46d6d !important;
  height: 34px;
  outline: none;
  background: #e5e5e5;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 0px 2px 1px 0px #D3C9C9;
  font-size: 15px;
  text-align: center;
}
.delete-link {
  color: #e46d6d !important;
  position: relative;
  height: 34px;
  outline: none;
  background: #e5e5e5;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 0px 2px 1px 0px #D3C9C9;
  font-size: 15px;
  text-align: center;
}
.bg-info th{
  font-weight: normal;
  color: white;
  font-size: 17px;
  padding: 13px !important;
  position: relative;
  top: 0px;
  line-height: 18px;
}
.table-hover.table-striped.table-condensed.table{
  border: 1px solid rgb(221, 221, 221) !important;
  position: relative;
  top:-4px;
}
#refresh_AdvertiserGrid{
  display: none;
}
#jqgh_IndustryGrid_IndustryName, #jqgh_IndustryGrid_Status, #jqgh_AdvertiserGrid_AdvertiserName,
#jqgh_AdvertiserGrid_Sector, #jqgh_AdvertiserGrid_IsPaying, #jqgh_AdvertiserGrid_IndustryName,
#jqgh_AdvertiserGrid_Status, #jqgh_AdvertiserGrid_Actions, #jqgh_IndustryGrid_Actions{
  font-size: 14px !important;
}
.ui-jqgrid .ui-icon-desc {
  margin-top: 4px !important;
  margin-left: 16px !important;
  height: 16px;
  border: none !important;
}
.ui-jqgrid .ui-icon-asc {
  margin-top: -3px !important;
  height: 12px;
  border: none !important;
  margin-left: 17px !important;
}
.dropdown-menu #oss-dev-top-bar-lqp{
  top: 1px;
  background: #f0f0f0;
  margin-bottom: 2px;
}
.dropdown-menu #oss-dev-top-bar-lqp a:hover {
  background: white !important;
}
.dropdownForMenu .dropdown-menu > li > a{
  padding: 3px 6px !important;
  font-size: 15px;
  color: #727272 !important;
}
#search_jqGridBay span.ui-icon-search{
  display: none;
}
.dropdownForMenu .fa{
  width: 20px;
}
.timepicker{
  position: relative !important;
  left: -13px !important;
}
input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input{
  font-size: 15px !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
  background-position: 0 0;
  color: black;
}
.creativeGrid{
  width: 98% !important;
  overflow-x: hidden;
  padding: 40px 25px 25px !important;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pager-table {
  /*width: 98%;*/
}
.dropdown-menu {
  z-index: 99999 !important;
}
.ui-jqdialog-content select option {
  /* max-width: 158px; */
  word-break: break-all;
  width: 153px;
  word-wrap: break-word;
  white-space: pre;
  /* display: block; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap;*/
}

.ui-jqgrid tr.jqgrow td {
  white-space: normal !important;
  vertical-align: text-top;
  line-height: 1.65;
  /*word-wrap: break-word;*/
}
#preLoaderBlock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(203, 203, 203, 0.51);
  opacity: .8;
}
#preLoaderBlock .preLoader{
  position: fixed;
  left: 50%;
  top: 250px;
  margin-left: -32px;
  display: block;
  z-index: 999;
}
.margin-top-20{
  margin-top: 20px;
}

/* responsive code*/
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border-color: white;
}
@media screen and (min-width: 320px) and (max-width: 960px) {
  .loginContainer, .industryContainer,.adminPanel.rolesTable, .adminPanel.usersTable, .adminPanel.customerGrid {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .dropdown-toggle.fake-link {
    margin-left: 15px;
  }

  #bs-example-navbar-collapse-1 .dropdown-menu {
    margin-left: 14px;
  }

  body {
    overflow-y: auto;
  }
  .nav.navbar-nav.dropdownForMenu {
    margin-left: -11px !important;
  }
}
.bootbox-body{
  font-size: 18px;
}
.activeSearchColumn{
  color:rgb(254, 144, 40) !important;
}
a{
  outline: none !important;
}
.caretIconWrapper{
  background: rgb(240, 240, 240) none repeat scroll 0% 0%;
}
#jqGridStationPager_left,
#jqGridHostPager_left,
#jqGridBayPager_left,
#jqGridBayLocationPager_left,
#jqGridRegionPager_left,
#jqGridStationPager_left,
#jqGridBranchesPager_left
{
  padding: 0px !important;
  position: relative;
  top: 0px;
}

#jqGridStationPager_left .ui-separator,
#jqGridHostPager_left .ui-separator,
#jqGridBayPager_left .ui-separator,
#jqGridBayLocationPager_left .ui-separator,
#jqGridRegionPager_left .ui-separator,
#jqGridStationPager_left .ui-separator,
#jqGridBranchesPager_left .ui-separator
{
  height: 18px;
  width:0px;
  border: none !important;
}

.ui-pg-table.navtable.ui-common-table td.ui-state-disabled{
  width: 1px !important;
  padding: 0px !important;
  background: #767676;
  opacity: 1!important;
  display: none;
}
.ui-pg-table.navtable.ui-common-table td {
  background: rgb(93, 93, 93) none repeat scroll 0% 0%;
  border-radius: 0;
}
tr.ui-search-toolbar th{
  background-color: rgb(240, 240, 240) !important;
  border: medium none;
}

span.ui-icon-seek-end{
  background-image: url("/assets/crud-app/images/lastPage.png") !important;
  width: 30px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
}
span.ui-icon-seek-next{
  background-image: url("/assets/crud-app/images/nextPage.png") !important;
  width: 30px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
}
span.ui-icon-seek-prev{
  background-image: url("/assets/crud-app/images/previousPage.png") !important;
  width: 30px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
}
span.ui-icon-seek-first{
  background-image: url("/assets/crud-app/images/firstPage.png") !important;
  width: 30px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
}
span.ui-icon-refresh{
  background-image: url("/assets/crud-app/images/gridReloadIcon.png") !important;
  width: 24px !important;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
  height: 22px;
}

span.ui-icon-pin-s{
  background-image: url("/assets/crud-app/images/gridPinIcon.png") !important;
  width: 24px !important;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
  height: 22px;
}
span.ui-icon-plus{
  background-image: url("/assets/crud-app/images/Add.png") !important;
  width: 30px !important;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
  height: 22px;
}
span.ui-icon-document{
  background-image: url("/assets/crud-app/images/gridViewIcon.png") !important;
  width: 30px !important;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
  height: 22px;
}
span.ui-icon-pencil{
  background-image: url("/assets/crud-app/images/gridEditData.png") !important;
  width: 30px !important;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
  height: 22px;
}
span.ui-icon-arrowthickstop-1-s{
  background-image: url("/assets/crud-app/images/downloadIcon.png") !important;
  width: 22px !important;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  background-position: initial;
  height: 22px;
}
.nav.navbar-nav.dropdownForMenu {
  margin-left: 20px;
}
.adminUserLink{
  left: 3px;
  margin-right: -13px;
}
.loginUserInfo{
  margin-right: 8px;
}
.ui-pg-table.ui-common-table.ui-paging-pager td input {
  text-align: center;
}
.myAltRowClass td {
  background-color: rgba(216, 216, 215, 0.5) !important;
  background-image: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td a{
  /*color: #505050 !important;*/
}
.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td{
  border-top: none !important;
  border-bottom: none !important;
  height: 50px;
  /*text-align: center !important;*/
  vertical-align: middle;
  color: #505050 !important;
  border-color: #c6c6c6;
}
/*
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #DDDDDC;
}*/

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #dcdcdc;
  vertical-align: middle;
  color: #505050 !important;
}
tbody tr td{
  vertical-align: middle !important;
  color: #505050 !important;
}

.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control{
  height: 48px !important;
}
.ui-search-toolbar{
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.loginUserInfo a{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.usersTable tr,.rolesTable tr{
  vertical-align: middle;
  height: 55px !important;
}
#editmodjqGridHost{
  /*display: none !important;*/
}


/* download Btns */
#jqGridBayXlsButton,#jqGridBayCsvButton{
  float: left;
  position: relative;
  left: 0;
  height: 51px;
  padding-top: 12px !important;
  background: rgb(93, 93, 93) none repeat scroll 0% 0%;
  border-radius: 0px;
  right: -10px;
}
#jqGridBayLocationXlsButton,#jqGridBayLocationCsvButton{
  float: left;
  position: relative;
  left: 0;
  height: 51px;
  padding-top: 12px !important;
  background: rgb(93, 93, 93) none repeat scroll 0% 0%;
  border-radius: 0px;
  right: -10px;
}
#jqGridBranchesXlsButton,#jqGridBranchesCsvButton{
   float: left;
   position: relative;
   left: 0;
   height: 51px;
   padding-top: 12px !important;
   background: rgb(93, 93, 93) none repeat scroll 0% 0%;
   border-radius: 0px;
  right: -10px;
 }
#jqGridRegionXlsButton,#jqGridRegionCsvButton{
  float: left;
  position: relative;
  left: 0;
  height: 51px;
  padding-top: 12px !important;
  background: rgb(93, 93, 93) none repeat scroll 0% 0%;
  border-radius: 0px;
  right: -10px;
}
#jqGridStationXlsButton,#jqGridStationCsvButton{
  float: left;
  position: relative;
  left:0;
  height: 51px;
  padding-top: 12px !important;
  background: rgb(93, 93, 93) none repeat scroll 0% 0%;
  border-radius: 0px;
  right: -10px;
}
#jqGridHostXlsButton,#jqGridHostCsvButton{
  float: left;
  position: relative;
  left: 0;
  height: 51px;
  padding-top: 12px !important;
  background: rgb(93, 93, 93) none repeat scroll 0% 0%;
  border-radius: 0px;
  right: -10px;
}
#rightDownloadBtn {
  float: right;
}
#search_jqGridBay{
  display: none;
}
.ui-widget-content .ui-state-highlight td{
  background-color: rgba(105, 105, 105, 0.37) !important;
}
.bottomBtns{
  margin-top: 250px;
}
