.color-gray{
    color: gray;
    font-weight: normal !important;
}
.color-blue{
    /*color: #019abe !important;*/
    /*color: #ff7d00 !important;*/
    color: gray !important;
    font-weight: normal !important;
}
.color-white{
    color:white;
    font-weight: normal !important;
}
.cursor-pointer{
    cursor: pointer;
}

.padding-0{
    padding:0;
}
.min-height-100{
    min-height: 100px;
}
.min-height-200{
    min-height: 200px;
}

.margin-auto{
    margin: 0 auto;
    float: none;
}



.navbar.navbar-inverse {
    background-color: #ff7d00 !important;
    /*background-color: #019abe !important;*/
    color: #fff;
}
.user-logo{
    max-width: 40%;
    border-radius: 60%;
}
.userLogoWrapper, .userInfo{
    position: relative;
    top: 5px;
}

.userName, .userLoginDate{
    position: relative;
    top: 3px;
}
.userName{
    font-size: 16px;
    font-weight: 300;
    top: 6px;
    padding-left: 0px;
}
.userLoginDate{
    padding-left: 0px;
    color:#00edf0;
}
.loginContainer, .industryContainer {
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.41);
    position: relative;
    margin-top: 30px;
    float: none;
}
.loginContainer .usernameLogo {
    background: #fff url('../images/userLoginIcon.png') no-repeat;
    background-size: 23px;
    height: 32px;
    left: 38px;
    top: 30px;
}
.loginContainer .passwordLogo {
    background: #fff url('../images/userPassIcon.png') no-repeat;
    background-size: 18px;
    height: 32px;
    left: 41px;
    top: 28px;

}
.loginSubmitBtn{
    /*background:#019abe !important;*/
    background:#ff7d00 !important;
    color: white !important;
    font-size: 22px;
    border-radius: 48px;
    width: 200px;
    text-transform: none;
    text-shadow: none;
}
.forgotPassLink a{
    color: gray;
    font-size: 15px;
    text-decoration: underline;
    outline: none;
    position: relative;
   /* top: 13px;
    margin-bottom: 10px;
    min-height: 40px;*/
    font-weight: normal !important;
}
.loginLegend{
    /*color:#019abe;*/
    color:#ff7d00;
    min-height: 60px;
}
.usernameLabel, .passwordLabel {
    /*color:#019abe;*/
    color:#ff7d00;
    font-weight: normal !important;
    font-size: 17px;
}
#username, #password{
    position: relative;
    padding-left: 12px;
    font-size: 17px;
}
/*.form-control, .form-group .form-control{
    background-image: linear-gradient(#019abe,#019abe),linear-gradient(#D2D2D2,#D2D2D2) !important;
}*/
.is-focused .control-label{
    color:#ff7d00 !important;
    /*color:#019abe !important;*/
}
.industryContainer .control-label{
    font-size: 18px !important;
}
.IndustrySubmitBtn{
    /*background: #019abe !important;*/
    background: #ff7d00 !important;
    color: white !important;
    font-size: 20px;
    border-radius: 48px;
    text-transform: none;
    float: none;
    border: none;
    outline: none;
    text-shadow: none;
    width: 220px;
}
.cancelBtn{
    background: white;
    /*color: #019abe;*/
    color: #ff7d00 !important;
    font-size: 19px !important;
    border-radius: 48px;
    text-transform: none;
    float: none;
    /*border: 1px solid #019abe;*/
    border: 1px solid #ff7d00;
    text-shadow: none;
}
.fieldsWrapper{
    float: none;
    margin: 0px auto;
}
#sector, #advertiserName, #industry{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}











/*****************for roles***********************/

.color-blue{
    position: relative;
    top: 1px;
    /*color: #6FBDD1;*/
    color: gray;
    /*color: #ff7d00;*/
    font-size: 15px;
    font-weight: normal !important;
}
.rolesSelectBlock{
    margin:0 auto;
    position: relative;
    float: none;
    top: 24px;
}
.rolesSelectBlock h4{
    font-weight: normal;
    /*color: rgb(21, 111, 134);*/
    /*color: #ff7d00;*/
    color: gray;
    font-size: 16px;
    text-transform: capitalize;
}

.checkbox .checkbox-material::before {
    top:0 !important;
}

.checkbox input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-left: 30px;
    opacity: 1 !important;
    z-index: 1 !important;
    cursor: pointer;
    top: 1px;
    right: 7px;
}

.font-size-20{
    font-size: 20px;
}

.checkbox+.checkbox, .radio+.radio {
    margin-top: 10px !important;
}
.adminPanel .form-group.NameRole{
    position: relative;
    float: none;
    margin: 0px auto;
    width: 81.2%;
}
.adminPanel .form-group.NameRole label {
    font-size: 16px;
    font-weight: normal;
    /*color: rgb(21, 111, 134);*/
    /*color: #ff7d00;*/
    color: gray;
}
.adminPanel .form-group.btn-create-role {
    position: relative;
    float: none;
    margin: 0px auto;
    /*width: 81.2%;*/
    top: 30px;
}
.adminPanel .form-group.btn-create-role .btn.btn-primary{
    position: relative;
    /*width: 250px;*/
    top: 10px;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
    margin-right: 18px;
    background: #ff7d00;
    border: 1px solid #ff7d00;
}
.panel-heading.form-group .checkbox{
    position: relative;
    top: -8px;
}
.grouphead{
    /*color: rgb(24, 154, 188);*/
    /*color: #ff7d00;*/
    color: gray;
    font-size: 16px;
}
.panel-heading.form-group{
    position: relative;
    min-height: 50px;
}
.rolesSelectBlock .plus-icon{
    display: none;
}
.rolesSelectBlock .minus-icon, .rolesSelectBlock .plus-icon{
    /*color: rgb(21, 111, 134);*/
    /*color: #ff7d00;*/
    color: gray;
    font-size: 22px;
    line-height: 34px;
    cursor: pointer;
}
.passwordResetBtn{
    width: 390px !important;
    font-size: 16px !important;
    text-shadow: none !important;
    border: medium none;
    outline: medium none;
}
/*form{
    display: inline-block;
}*/

.roleMultiSelect{
    min-height: 120px;
}
.cancel-btn{
    background: transparent none repeat scroll 0% 0% !important;
    /* color: rgb(66, 139, 202); */
    color: #ff7d00;
}
.btn-create-user {  
    top: 0px !important;
}