ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute !important;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    max-height: 251px;
    overflow-y: scroll;
    height: 200px !important;
    z-index: 2147483647 !important;
}
.ui-multiselect-menu{
    font-size: 1.2em;
    background: #eaf4fd;
    border-radius: 0;
    box-shadow: 0px 0px 8px 0px gray;
    border: none;
    margin-top: -24px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown {
    background: #e1e1e1;
    padding: 15px !important;
    /*margin: 72px !important;*/
    border: 1px solid;
}

.dataTables_wrapper .dataTables_filter input{
    margin-left: 0.5em;
    height: 36px;
    margin-right: 0px;
    border-radius: 45px;
    border: 1px solid;
    padding-left: 14px;
}



/*demo css code*/
div#demo {
    margin-top:50px;
}
/*div#example_filter {
    width:100%;
}*/
.filter-container {
    display:block;
    margin-right:1em;
    font-size: 12px;
    position: relative;
    top: 10px;
    left: 4px;
}
/*tr:hover th, tr:hover td {
    background-color:#ebebeb;
    background-image:none;
}
td {
    height:26px;
    padding:0px 0px 0px 20px !important;
    text-align:left;
    border-bottom:1px solid #d0d0d0;
    vertical-align:middle;
    color:#555555;
    background-color:#ffffff;
}
td.group {
    background-color: #d5eafd !important;
    border-bottom: 1px solid #94bafd;
    border-top: 1px solid #94bafd;
}
td.expanded-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/minus.jpg") no-repeat scroll left center transparent;
}
tr:hover td.expanded-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/minus.jpg") no-repeat scroll left center #c0e1ff !important;
}
td.collapsed-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/plus.jpg") no-repeat scroll left center transparent;
}
tr:hover td.collapsed-group {
    background: url("http://jquery-datatables-row-grouping.googlecode.com/svn/trunk/media/images/plus.jpg") no-repeat scroll left center #c0e1ff !important;
}
.DataTables_sort_wrapper span {
    float: right;
}
.ui-icon {
    background-image: url("http://jquery-ui.googlecode.com/svn-history/r3145/branches/labs/scrollable/ui/css/smoothness/images/ui-icons_454545_256x240.png");
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-icon-circle-close {
    background-position: -32px -192px;
}
.float-right {
    float: right;
    margin: 4px 5px 0px 0px;
}
.float-left {
    float: left;
    margin: 4px 5px 0px 4px;
}
.expandedOrCollapsedGroup {
    width: 125px;
    float: left;
    margin: 0px 0px 0px 25px;
}*/
