/*from app css*/

.ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar th { height: auto }
.ui-multiselect-menu .ui-multiselect-checkboxes li:nth-child(1) {
    display:none !important;
}


button, input, optgroup, select, textarea{
     color: black !important;
 }
.ui-multiselect-menu{
    font-size: 14px;
    background: #ebeded !important;
    border-radius: 0;
    box-shadow: 0px 0px 8px 0px gray;
    border: none !important;
    margin-top: -74px;
    min-width: 200px;
}


#gbox_IndustryGrid, #gbox_AdvertiserGrid, #gbox_CreativeGrid, #gbox_POGrid{
    border: none !important;
    margin-top: -4px !important;
   /* margin: 0 auto;*/
}
#IndustryGrid, #AdvertiserGrid, #CreativeGrid{
    /*overflow: hidden*/
}

.ui-jqgrid-labels{
    /*background: rgb(1, 154, 190) none repeat scroll 0% 0%;*/
    background: #969696  none repeat scroll 0% 0%;

}
.ui-jqgrid-htable .ui-jqgrid-labels th{
    color: white;
    /*font-size: 17px;*/
    font-size: 14px;
    padding: 13px;
    position: relative;
    top: 0px;
    line-height: 18px;
    /*line-height: 12px;*/
    font-weight: normal;
}
/*
.ui-state-default .ui-icon {
    background-image: url(../img/dropDownIcon.png);
}*/

.ui-state-default, .ui-widget-content .ui-state-default{
    background: transparent !important;
    border: none !important;

}
.ui-jqgrid-view .ui-state-default.ui-jqgrid-hdiv{
    height: 44px;
    overflow: hidden;
    border-radius: 0;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: #ececec !important;
    background: #ececec url(images/ui-bg_flat_55_fbec88_40x100.png) 50% 50% repeat-x;
    color: #363636;
    font-size: 14px;
    /* padding: 17px; */
    height: 24px;
}
.jqgfirstrow{
    display: none;
}
.ui-jqgrid tr.jqgrow td {
    font-weight: normal;
    overflow: hidden;
    white-space: pre;
    height: 34px !important;
    padding: 10px;
    /* border-bottom-width: 1px; */
    /* border-bottom-color: inherit; */
    /* border-bottom-style: solid; */
    border: none !important;
    font-size: 14px !important;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column{
    padding-left: 0;
    text-align: left;
}
.ui-multiselect-filter{
    font-size: 0px !important;
    position: relative;
    top: 15px;
    margin-bottom: 20px;
}
.ui-multiselect-filter input[type=search]{
    border-radius: 15px;
    /*border: none;*/
    background: transparent;
    font-size: 14px;
    height: 25px;
    /*padding: 12px;*/
    color: black !important;
    min-width: 175px;
    outline: none;
    text-indent: 12px;
    border: 1px solid gray;
    /*padding-left: 17px;*/
}
.ui-multiselect-header {
    margin-bottom: 3px;
    padding: 3px 0 3px 4px;
    width: 110px;
    background: #EBEDED !important;
    position: relative;
    top: -10px;
    border-radius: 0;
    left: -3px;
    border: none;
}
.ui-multiselect-all, .ui-multiselect-none{
    color: #019ABE!important;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal !important;
    position: relative;
    top: 10px;
    margin-bottom: 16px;
    display: block;
    left: 18px;
    min-width: 43px;
}
.ui-multiselect-checkboxes{
    margin-top: -6px;
}
.ui-multiselect-checkboxes li {
    clear: both;
    /* font-size: 0.9em; */
    padding-right: 3px;
    padding-left: 24px;
}
.ui-widget-content .ui-state-hover{
    border: #ececec !important;
    background: #ececec;
}
.ui-multiselect-checkboxes label{
    border: none !important;
    padding: 3px 1px !important;
    font-weight: normal !important;
}
.ui-multiselect-checkboxes label input {
    position: relative;
    top: 2px;
    right: 6px;
}
/*#gbox_IndustryGrid .ui-widget-content {
    border:none !important;
}*/
.ui-widget-content {
    border:none !important;
}


#IndustryGridPager, #AdvertiserGridPager, #pg_CreativeGridPager, #POGridPager{
    /*border: 1px solid rgb(221, 221, 221) !important;*/
    border-radius: 0px;
    position: relative;
    top: 10px;
    border: none;
}
#IndustryGridPager .ui-common-table,#CreativeGridPager .ui-common-table{
    width: 350px !important;
    margin: 0 auto;
}
#AdvertiserGridPager .ui-common-table,#POGridPager .ui-common-table{
    width: 350px !important;
}

.wrapperForButtons{
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    top: -3px;
}
.wrapperForButtons .col-md-5.col-xs-12.undo-link {
    color: gray !important;
    position: relative;
    left: 0px;
    /*border: 1px solid;*/
    height: 34px;
    outline: none;
    background: #e5e5e5;
    /* display: inline-block; */
    border-radius: 6px;
    line-height: 35px;
    text-indent: -9px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-size: 15px;
    text-align: center;
    width: 66px;
    top:13px;

}
.wrapperForButtons .col-md-5.col-xs-12.update-link{
    position: relative !important;
    right: 9px !important;
    color: #e46d6d !important;
    left: -9px;
    height: 34px;
    outline: none;
    background: #e5e5e5;
    /* display: inline-block; */
    border-radius: 6px;
    line-height: 35px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-size: 15px;
    text-align: center;
    width: 58px;
}
.wrapperForButtons .col-md-5.col-xs-12.delete-link {
    color: #e46d6d !important;
    position: relative;
    left: 0px;
    /*border: 1px solid;*/
    height: 34px;
    outline: none;
    background: #e5e5e5;
    /* display: inline-block; */
    border-radius: 6px;
    line-height: 35px;
    text-indent: -12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-size: 15px;
    text-align: center;
    width: 63px;
}

#CreativeGrid .wrapperForButtons .col-md-5.col-xs-12.undo-link {
    color: gray !important;
    position: relative;
    /*border: 1px solid;*/
    height: 25px !important;
    outline: none;
    background: #e5e5e5;
    display: inline-block;
    border-radius: 6px;
    line-height: 25px !important;
    text-indent: -9px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-size: 13px !important;
    text-align: center;
    width: 66px !important;
    top: 0px !important;

}
#CreativeGrid .wrapperForButtons .col-md-5.col-xs-12.update-link{
    position: relative !important;
    color: #e46d6d !important;
    height: 25px !important;
    outline: none;
    background: #e5e5e5;
    display: inline-block;
    border-radius: 6px;
    line-height: 25px !important;

    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.6);

    font-size: 15px !important;
    text-align: center;
    width: 41px !important;
    text-indent: -4px;
    padding: 1px;
}
#CreativeGrid .wrapperForButtons .col-md-5.col-xs-12.delete-link {
    color: #e46d6d !important;
    position: relative;
    /*border: 1px solid;*/
    height: 25px !important;
    outline: none;
    background: #e5e5e5;
    display: inline-block;
    border-radius: 6px;
    line-height: 25px !important;
    text-indent: 1px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-size: 14px !important;
    text-align: center;
    width: 52px !important;
    margin-left: 3px !important;
    padding: 1px;
}
img.vSymbol{
    width: 13px;
    position: relative;
    top: 1px;
    left: 5px !important;
    cursor: pointer;
}
.ui-multiselect-hasfilter u{
    display: inline-block;
    width: 190px;
}span.s-ico{
     display: none !important;
 }
span.ui-icon{
    border: none !important;
    display: none;
}
.ui-multiselect-header a.ui-multiselect-all, .ui-multiselect-header a.ui-multiselect-none{
    border: 1px solid gray;
    text-align: center;
    border-radius: 15px;
    outline: none;
    color: gray !important;
}


/*.ui-jqgrid .ui-jqgrid-htable th div{
    font-size: 14px;
}*/

.ui-jqgrid .ui-pg-table td {
    color: #767676 !important;
}

/**nEW CSS TO INTEGRATE button toggle*!*/
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.cmn-toggle-round + label {
    padding: 2px;
    width: 120px;
    height: 60px;
    background-color: #dddddd;
    border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 58px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
    content:"Active";
    background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
    content:"Review";
    margin-left: 60px;
}
.toggle-light .toggleActive, .toggle-light .toggleDeleted, .toggle-light .toggleReview{
    height: auto !important;
}
.toggle-light .toggleActive .toggle-blob{
    background: #019abe !important;
}
.toggle-light .toggleDeleted .toggle-blob, .toggle-light .toggleReview .toggle-blob{
    background: #0bc3a7 !important;

}
.toggle-light .toggleActive .toggle-on, .toggle-light .toggle-select .toggle-inner .active {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #019abe !important;
    font-size: 13px;
    /*padding: 14px;*/
    /*!* line-height: 65px; *!*/
    /*position: relative;*/
    /*top: -13px;*/
}
.toggle-light .toggleActive .toggle-off, .toggle-light .toggle-select .toggle-inner .active {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #0bc3a7 !important;
    font-size: 13px;
    /*padding: 14px;*/
    /*!* line-height: 65px; *!*/
    /*position: relative;*/
    /*top: -13px;*/
}
.toggle-light .toggleDeleted .toggle-on, .toggle-light .toggleReview .toggle-on, .toggle-light .toggle-select .toggle-inner .active {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #019abe !important;
    font-size: 13px;
    /*padding: 14px;*/
    /* line-height: 65px; */
    /*position: relative;*/
    /*top: -13px;*/
}
.toggle-light .toggleDeleted .toggle-off, .toggle-light .toggleReview .toggle-off, .toggle-light .toggle-select .toggle-inner .active {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #0bc3a7 !important;
    font-size: 13px;
    /*padding: 14px;*/
    /*!* line-height: 65px; *!*/
    /*position: relative;*/
    /*top: -13px;*/
}

.toggle-light .toggleActive .toggle-slide {
    border-radius: 9999px;
    box-shadow: 0 0 0 1px #019abe !important;
}
.toggle-light .toggleDeleted .toggle-slide, .toggle-light .toggleReview .toggle-slide {
    border-radius: 9999px;
    box-shadow: 0 0 0 1px #0bc3a7 !important;
}
a.statusDeleted{
    padding: 5px;
    border: 1px solid #afafaf;
    /*color: #afafaf;*/
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 55px;
    /*height: 27px;*/
    line-height: 10px;
    margin-left: -6px;
}

a.statusUpload{
    padding: 5px;
    border: 1px solid #afafaf;
    /*color: #32CD32;*/
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 55px;
    /*height: 27px;*/
    line-height: 10px;
    margin-left: -6px;
}
.videoPreviewModal{
    position: fixed;
    top: 63px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 430px;
    height: auto;
    display: none;
    margin: 0 auto;

}
.videoPreviewModalPopUp{
    display: block;
    width: 85%;
    background: #efefef;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 1px 8px 1px gray;
    margin-top: 16px;
    height: auto;
}
.videoPreviewModal a{
    display: block;
    /* text-align: right; */
    position: absolute;
    /* left: 85%; */
    z-index: 9999999;
    cursor: pointer;
    float: right;
    /* top: 0px; */
    /* left: 10px; */
}
.videoPreviewModal img.popUpClose{
    width:30px;
}
.downloadIcon{
    width: 16px;
    cursor: pointer;
}
video{
    width:100%;
    margin-top: -13px;
}
.videoPreviewModal-footer{
    display: inline-block;
}
.videoPreviewModal-footer .col-md-12{
    color: RGBA(0, 0, 0, 0.75);
    font-size: 14px;
    margin: 6px;
    font-weight: normal;
    text-transform: capitalize;
}
.videoPreviewModal-content{
    width: 100%;
    display: inline-flex;
}

/*.toggleActive{
    background: #8bc6bd;
    color:white;
}*/
.toggleBtn{
    padding: 6px;
    text-align: center;
    border:1px solid rgb(182, 181, 181);
}
.color-gray{
    color: gray;
}

.fileIconStatus{
    position: relative;
    width: 29px;
    margin-left: -3px;
    /*top: -15px;*/
    cursor:pointer;
}
.toggle-light, .fileIconStatus{
    position: relative;
    /*top: -24px;*/
}
#gbox_CreativeGrid tr.jqgrow td{
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    /*padding-right: 10px !important;*/
    /*padding: 0px !important;*/
    text-indent: 0px;
    font-size: 13px !important;
    /*text-overflow: ellipsis;*/
}
.padding0{
   padding: 0;
}
.creativeGridBlock{
    width: 98% !important;
    padding: 10px !important;
}

.payingActive{
    background: #0bc3a7 !important;
    color:white !important;
}
.payingYesBtn{
    padding: 6px !important;
    text-align: center !important;
    border:1px solid rgb(182, 181, 181) !important;
}
.payingNoBtn{
    padding: 6px !important;
    text-align: center !important;
    border:1px solid rgb(182, 181, 181) !important;
}
.payingNoBtn .IsPaying_no, .payingYesBtn .IsPaying_yes{
    border: none !important;
    color: transparent !important;
    position: absolute !important;
    background: transparent !important;
    box-shadow: none;
}
span.fileUploadIcon{
    background-image: url("../img/fileUpload.png");
    width:24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:90% ;
}
span.uploadFileLabel{
    position: relative;
    top: -8px;
    cursor: pointer;
}
a.uploadAnchor:hover, a.uploadAnchor:focus {
    color: #2a6496;
    text-decoration: none;
}
a.uploadAnchor input[type=file]{
    opacity: 0;
    position: absolute;
    top: 31px;
    left: 58px;
    box-shadow: none;
    cursor: pointer;
    width: 261px;
}
.fileName{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    color: rgb(1, 154, 190);
    font-size: 14px;
    width: 250px;
    display: inline-block;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    top: 2px;
}

.editBlock{
    position: relative;
    top: 0px !important;
}
span.filePreviewIcon{
    background-image: url("../img/activeIcon.png");
    width:24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 75%;
    position: relative;
    top: 0px;
    display: none;
    cursor: pointer;
}
span.filePreviewIconDisabled{
    background-image: url("../img/deltedIcon.png");
    width:24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 75%;
    position: relative;
    top: 0px;
    display: none;
    cursor: pointer;
}
span.fileCloseIcon{
    background-image: url("../img/videoCloseIcon.png");
    width:24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 75%;
    position: relative;
    top: 0px;
    display: none;
    cursor: pointer;
}
a.playlistIcon{
    background-image: url("../img/playThumbnail.png");
    width: 60px;
    height: 55px;
    /* display: inline-block; */
    background-repeat: no-repeat;
    background-size: 86%;
    position: relative;
    top: 14px;
    cursor: pointer;
    float: left;
    line-height: 137px;
    color: #019ABE;
}
/*#gbox_CreativeGrid img.vSymbol{
    width: 11px !important;
    left: 2px !important;
    top: 1px;
}*/
#gbox_CreativeGrid .ui-jqgrid .ui-jqgrid-htable th div{
    font-size: 12px !important;
}
#gbox_CreativeGrid .wrapperForButtons .col-md-5.col-xs-12.update-link {
    left: 0px !important;
    margin-bottom: 4px;
}



/****************************/
.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}
.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}
.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}
.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;
}
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
a.goBackHomeBtn{
    margin: 0px auto !important;
    display: block !important;
    width: 200px !important;
    background: #FF7D00;
    border-color: #FF7D00;
}
a.goBackHomeBtn:hover{
    background: transparent;
}
.toggle-light {
    width: 76px !important;
    position: relative;
    left: 12px;
    /*top:8px;*/
}
.fileIconStatus {
    /*top: -40px !important;*/
}
a.addAdvertiserBtn{
    background: transparent none repeat scroll 0% 0%;
    border: medium none;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    border-radius: 3px;
    /*color: rgb(1, 154, 190);*/
    /*color: #ff7d00;*/
    color: gray;
    padding: 0;
    outline: none;
    top: 4px;
}
#IndustryGrid .ui-jqgrid .ui-jqgrid-htable th div, #AdvertiserGrid .ui-jqgrid .ui-jqgrid-htable th div,
#CreativeGrid .ui-jqgrid .ui-jqgrid-htable th div{
    font-size: 14px !important;
}
.ui-multiselect-filter input[type=search]::-webkit-input-placeholder{
    color: gray !important;
}
a.videoDownload{
    display: inline-block !important;
    position: relative !important;
    float: none !important;
}
.videoName {
    font-size: 14px;
    color: #019ABE;
    text-overflow: ellipsis;
    overflow: hidden;

}
.bootbox-body{
    font-size: 18px;
}
.form-control{
    font-size: 15px;
}

.ui-jqgrid .ui-jqgrid-htable th {height:22px;padding: 0 2px 0 -2px; !important;}
.ui-jqgrid .ui-jqgrid-htable {table-layout:fixed;margin:0;border-left: 1px solid #d3d3d3 !important;}

.ui-common-table{
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-hbox{
    padding-right: 0px !important;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_CreativeName']{
    width: 11%;
    text-align: left !important;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_AdvertiserName']{
    width: 10.5%;
    text-align: left;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_IndustryName']{
    width: 11.5%;
    text-align: left;
    padding-left: 5px !important;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_UpdatedBy']{
    width: 11%;
    text-align: left;
    padding-left: 8px !important;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_FileDuration']{
    width: 8.5%;
    text-align: left !important;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_File']{
    width: 5%;
    text-align: left;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_Sector']{
    width: 7.5%;
    text-align: left;
}
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_Status'],
#gbox_CreativeGrid tr.jqgrow td[aria-describedby='CreativeGrid_UpdatedAt']{
    width: 11%;
    text-align: left;
}

#CreativeGrid_File{
    width:4.5% !important;
}
#CreativeGrid_Category2{
    width:115px !important;
}
#CreativeGrid_CreativeName,#CreativeGrid_IndustryName,#CreativeGrid_UpdatedBy,#CreativeGrid_Status{
    width: 11% !important;
}
#CreativeGrid_AdvertiserName{
    width: 10.5% !important;
    text-align: left;
}
#CreativeGrid_FileDuration{
    width: 8.5% !important;
    text-align: left;
}
/*#CreativeGrid_Category1{
    width:132px !important;
}*/
#CreativeGrid_UpdatedAt{
    width:12% !important;
}
#CreativeGrid_Sector {
    width: 8% !important;
}
#CreativeGrid_Actions{
    width:9.8% !important;
}

#gbox_POCreativeGrid tr.jqgrow td[aria-describedby='POCreativeGrid_CreativeName'],
#gbox_POCreativeGrid tr.jqgrow td[aria-describedby='POCreativeGrid_File'],
#gbox_POCreativeGrid tr.jqgrow td[aria-describedby='POCreativeGrid_FileDuration'],
#gbox_POCreativeGrid tr.jqgrow td[aria-describedby='POCreativeGrid_Status']
{
    width: 140px;

}
#gbox_POCreativeGrid tr.jqgrow td[aria-describedby='POCreativeGrid_Status'] .cellValue{
    margin-top: -30px;
}


#POCreativeGrid_CreativeName{
    width:162px !important;
}
#POGrid_PurchaseOrder{
    width: 60px !important;
}
#gbox_POGrid tr.jqgrow td[aria-describedby='POGrid_PurchaseOrder']{
    width: 60px !important;;
}
#my-video_html5_api{
        background: black !important;
}
.ui-multiselect-hasfilter ul {
    position: relative;
    top: 2px;
    width: 190px;
    display: inline-block;
}
.ui-multiselect-header ul li {
    float: left;
    padding: 0 10px 0 0;
    width: 84px;
}
div.toggleUploaded,div.toggleDeleted{
    margin-top: -9px !important;
}
.toggleReview,.toggleActive
{
    margin-left: -5px;
}

#preLoaderBlock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(203, 203, 203, 0.51);
    opacity: .8;
}
#preLoaderBlock .preLoader{
    position: fixed;
    left: 50%;
    top: 250px;
    margin-left: -32px;
    display: block;
    z-index: 999;

}
/*#AdvertiserGrid_rn{
    width:60px !important;
}*/
tr.jqgrow td[aria-describedby="AdvertiserGrid_rn"],
tr.jqgrow td[aria-describedby="IndustryGrid_rn"],
tr.jqgrow td[aria-describedby="CreativeGrid_rn"]{
    width:40px !important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.columnHeighlighter{
    /*text-decoration: underline;*/
  /*  -moz-text-decoration-color: #ff7d00; !* Code for Firefox *!
    text-decoration-color: #ff7d00;*/
    color:#cccbcb !important;
}
.disableAnchorTag{
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}
/*.ui-jqgrid .ui-jqgrid-pager{
    height: auto !important;
}*/
#POGridPager {
    top: -5px !important;
}
.ui-jqgrid .ui-jqgrid-pager{
    height: 48px !important;
}
#jqGridBay.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridBayLocation.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridStation.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridRegion.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridBranches.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td,
#jqGridHost.table.ui-jqgrid-btable.ui-common-table tr.jqgrow td
{
    text-align: center !important;
}