/* Dashboards custom ui styles*/

/* Prevent Jqgrid popup from
 scrolling along with the page*/
.ui-jqdialog {
	position: fixed;
}

/* Time picker correct the conflict
of numbers */
.ui-timepicker-table td a {
    padding: 0px 0px 2px 0px !important;
}