.min-height-250{
    min-height: 250px;
}
.switch{
    /*width: 170px !important;*/
    width: 100px !important;
}
.switch.checked small {
    /*left: 140px !important;*/
    left: 70px !important;
}
.switch.checked {
    background: #ff7d00 !important;
    border-color: #ff7d00 !important;
}
.switch.checked .on{
    position: relative;
    top: 6px;
    /*text-indent: 40px;*/
    text-indent: 5px;
    font-weight: bold;
}
.switch .off{
    top: 6px;
    font-weight: bold;
    /*left: 60px;*/
}
.vmcConfigFormBlock .btn-default.active{
    background: rgb(255, 125, 0) none repeat scroll 0% 0%;
    text-shadow: none;
    color: white;
    box-shadow: none;
    border-radius: 0;
}
.vmcConfigFormBlock .btn-default{
    border-radius: 0;
}
.vmcConfigFormBlock{
    padding: 14px !important;
    margin-top: 40px !important;
}
.gray-bgr-vmcConfig {
    background: #fafafa;
    overflow: auto;
}
.tab-content{
    padding-top: 30px;
    font-size: 16px;
    overflow: auto;
    padding-left: 0;
}
.submitButton{
    font-size: 18px;
}
.smallFont12{
    font-size: 12px !important;
    top: 6px;
}
.vmcConfigFormBlock .nav-tabs{
    border-bottom: none;
}
html{
    overflow-y: hidden !important;
}
.vmcTabData{
    max-height: 500px;
    overflow-y: auto;
}
.dropdown-toggle.fake-link span.caret {
    right: 6px;
    position: relative;
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.yesToggle{
    border-radius: 0 !important;
    border-color: rgba(189, 176, 176, 0.48) !important;
}
.noToggle{
  border-radius: 0;
}
/*.errorMsg{
    font-size: 12px;
    font-style: italic;
    color: red;
}*/
.help-block{
    font-size: 12px;
    margin: 0px;
    font-style: italic;
}
.btn[disabled] {
    opacity: 0.8;
}
.width-50{
    width:50% !important;
}
div#counterNumber, div#utsDumb, div#autoSleepMode, div#dualDisplay, div#screenRatio,
div#enableRouterReboot, div#routerRebootSchedule{
    padding-top: 24px;
}
span.glyphicon.glyphicon-chevron-up,span.glyphicon.glyphicon-chevron-down {
    color: #ff7d00;
}
.uib-time input {
    border: none;
    text-shadow: none;
    box-shadow: none;
}
table.uib-timepicker {
    margin-top: 6px;
    background: white;
/*    top: 19px;
    box-shadow: 0 15px 2px gray;
    padding: 36px;*/
    border: 1px solid #e1dddd;
    float: right;
}