/************** PO flow css ******************/
html,body { height: 100%; margin: 0px; padding: 0px; }
.color-gray{
    color: gray;
}
body{
    overflow-y: auto !important;
}

.color-blue{
    /*color: #ff7d00 !important;*/
    color: gray !important;
}
.color-black{
    color: black;
}

.color-red{
    color: red !important;
}
.color-white{
    color:white;
}
.cursor-pointer{
    cursor: pointer;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.padding-0{
    padding:0 !important;
}
.padding-left{
padding-left: 0px;
}
.padding-right-0{
    padding-right: 0;
}
.min-height-100{
    min-height: 100px;
}
.min-height-200{
    min-height: 200px;
}
.min-height-90{
    min-height: 90px;
}
.min-height-80{
    min-height: 80px;
}
.min-height-70{
    min-height: 70px;
}
.min-height-50{
    min-height: 50px;
}
.fieldsWrapper{
    float: none;
    margin: 0px auto;
}
.navbar.navbar-inverse {
    background-color: #ff7d00 !important;
    border: none;
    border-radius: 0;
}
.submitButton{
    background: #ff7d00 !important;
    color: white !important;
    font-size: 22px;
    border-radius: 48px;
    text-transform: none;
    float: none;
    font-weight:normal;
    text-shadow: none;
}
.canselAndResetButton{
    background: white;
    color: #ff7d00 !important;
    font-size: 22px;
    border-radius: 48px;
    text-transform: none;
    float: none;
    border:1px solid #ff7d00;
}
.colornew-gray{
    color:#8a8c8c;
}
.colornew-black{
    color: #2f2f2f;
}

/****** steps css ******/
body {
    margin-top:40px;
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
    margin-top: 32px;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 15px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 85%;
    height: 2px;
    background-color: #ccc;
    z-order: 85;
    left: 47px;
}
.btn[disabled]{
    opacity: 1;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

a.btn.btn-default.btn-circle,button.btn.btn-default.btn-circle{
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}
a.btn.btn-circle.btn-primary,button.btn.btn-circle.btn-primary{
    background-color: #6b6b6b;
    border-color: #6b6b6b;
}
.rightmark{
    background-image: url("/assets/poassets/images/check-mark-10-512.png");
    display: inline-block;
    background-size: 91%;
    background-repeat: no-repeat;
}
/*a.btn.btn-default.btn-circle.btn-primary {
    background-color: #6b6b6b;
    border-color: #6b6b6b;
}*/
.display-inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}
.overflow-auto{
    overflow: auto;
}
.display-flex{
    display: flex;
}
.gray-bgr {
    background: #fafafa;
    padding: 20px;
    overflow: auto;
}
/*.filedwrapper-for-po-preview{
    background: #fafafa;
    padding-left: 110px;
    position: relative;
    left: 105px;
    top: 20px;
    width: 82%;
    margin-bottom: 30px;
    padding-right: 110px;
    padding-bottom: 20px;
}*/
.filedwrapper-for-po-preview{
    background: #fafafa;
    /* padding-left: 110px; */
    position: relative;
    /* left: 25px; */
    top: 20px;
    width: 84%;
    margin-bottom: 30px;
    /* padding-right: 110px; */
    padding-bottom: 20px;
    margin: 0 auto;
    overflow: auto;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    /*color: #555;*/
    color: #252525;
    /*background-color: transparent;*/
    border: none;
    /*border-bottom-color: transparent;*/
    cursor: default;
    border-bottom: none;
}
.tabs-left>li>a{
    border-radius: 0;
    margin-right: 0;
    display: block;
    background-color: #dadfe3;
    border: none;
    color: #3a3a3b;
    padding: 30px;
    font-size: 16px;
}
.nav-tabs>li>a {
    border-radius: 0;
    margin-right: 2px;
    display: block;
    background-color: #dadfe3;
    border: none;
    color: #3a3a3b;
    font-size: 16px;
}
.tabs-left {
    border-right: none;
}
.tab-content{
    padding: 30px;
    font-size: 16px;
}
.padding-bottom{
    padding-bottom: 6px;
}
.campaignLabel{
    padding: 10px;
    border: 1px solid #e2d8d8;
    font-size: 18px;
    margin-bottom: 2px;
}
.fade{
    display: none;
}
.fade.in {
    display: block;
}
/*.nav-tabs {
    border: 1px solid #ddd;
}*/
.tab-pane.fade section{
    padding-top: 14px;
    padding-left: 0;
}
.po-summary-campaign-block{
    border: 1px solid #e2d8d8;
    margin-bottom: 30px;
}
.form-control[readonly] {
    cursor: pointer;
    background-color: transparent;
}
.poContainer {
    /*padding: 40px;*/
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.41);
    position: relative;
    /*margin-top: 8%;*/
    float: none;
}
/*location block css*/

.location-tabs-blocks{
    padding: 30px;
    overflow: auto;
    margin-bottom: 20px;
   /* margin: 0 auto;
    float: left;*/
    /*display: inline-block;*/
}
.location-tabs-blocks .nav-tabs{
    border: none;
}
section.location-tabs-blocks ul.nav.nav-tabs.col-md-12.col-xs-12 li {
    width: 25%;
}
div#Region, div#State, div#Station, div#Summary {
    padding: 0;
    margin-top: 35px;
    /*margin-bottom: 55px;*/
}
.padding10-grayBG{
    background: #dadfe3;
    height: 38px;
    line-height: 40px;
    text-indent: 14px;
    /*margin-bottom: 20px;*/
}
button.btn.btn-default.addBtnActive {
    float: right;
    background: #ff7d00 !important;
    color: white !important;
    width:90px;
    margin-right: 10px;
}
.region-devisions-ul-list button.btn.btn-default, .state-devisions-ul-list button.btn.btn-default{
    float: right;
    color: #ff7d00;
    border-color: #ff7d00;
    background: transparent;
    width:90px;
    margin-right: 10px;
}

/*input checkbox to button*/
#regionCheckBtn {
    float: right;
    color: #ff7d00;
    border-color: #ff7d00;
    background: transparent;
    /*width:90px;
    margin-right: 10px;*/
}

#regionCheckBtn label {
    float:left;
    width:4.0em;
}

#regionCheckBtn label span {
    text-align:center;
    padding:0px 0px;
    display:block;
    border: 1px solid #ff7d00;
    color: #ff7d00;
    cursor: pointer;
    font-weight: bold;
}

#regionCheckBtn label input {
    position:absolute;
    top:-20px;
    visibility: hidden;
}

#regionCheckBtn input:checked + span {
    float: right;
    background: #ff7d00 !important;
    color: white !important;
    width:100%;
}

.region-devisions-ul-list li,
.state-devisions-ul-list li{
    min-height: 42px;
}
ul.region-devisions-ul-list li, ul.state-devisions-ul-list li{
    height: 38px;
    line-height: 30px;
}
/*ul.region-devisions-ul-list, ul.region-station-list, ul.state-station-list, ul.selected-state-station-lists, ul.selected-lists,
ul.state-devisions-ul-list, ul.state-list, ul.state-selected-lists, .region-summary-lists{
    display: inline-block;
    width: 100%;
    max-height: 280px !important;
    height: 278px;
    overflow-y: scroll;
}*/
ul.region-devisions-ul-list, ul.state-devisions-ul-list, ul.station-sortings-list,
.region-station-list,.selected-lists,.state-station-list,.selected-state-station-lists,ul.selected-station-station-lists{
    height: 280px;
    padding: 7px;
    border: 1px solid #dadfe3;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    overflow: auto;
}

.stationSortContainer{
    display: inline-block;
    border: 1px solid #dadfe3;
}
.selectAll-clearBtns button{
    background-color: #dadfe3;
    border-color: #6b6b6b;
    padding: 2px 12px;
}
.selectAll-clearBtns{
    position: relative;
   /* left: 10px;
    top: -2px;*/
    float: right;
    right: 12px;
}
.proccedSelectionBtn{
    position: relative;
    top: 120px;
    width: 62px;
    cursor: pointer;
    margin: 0 auto;
    height: 40px;
    left: 10px;
}
.selected-list-in-collapse{
    background: #dadfe3;
    height: 38px;
    line-height: 40px;
    text-indent: 14px;
    margin-bottom: 1px;
}
.collapse-mode{
    background-image: url("/assets/poassets/images/collpaseMode.png");
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size:60%;
    background-repeat: no-repeat;
    position: relative;
    top:12px;
    left:10px;
    cursor: pointer;
    z-index: 999;
}
.expand-mode{
    background-image: url("/assets/poassets/images/expand-modeIcon.png");
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size:60%;
    background-repeat: no-repeat;
    position: relative;
    top:12px;
    left:10px;
    cursor: pointer;
    z-index: 999;
}
.closeIcon{
    background-image: url("/assets/poassets/images/closeIcon.png");
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size:60%;
    background-repeat: no-repeat;
    position: relative;
    top:14px;
    left:10px;
    cursor: pointer
}
.totCountOfSelectedItems{
    padding: 5px;
    border:1px solid;
    border-radius:3px ;
}
ul.selected-lists{
    max-height: 280px !important;
    height: 278px;
}
.selected-list-items{
    margin-left: 12px;
}
.ln-letters a:hover, .ln-letters .ln-selected{
    background: #ff7d00 !important;
    color: black;
}
.ln-letters a{
    color: black;
    background: #dadfe3 !important;
    border: 1px solid #7f7f7f !important;
    border-right: 1px solid #7f7f7f !important;
    margin: 0.5px !important;
    padding: 2px 4px !important;
}
.station-sorting-selectAll-clear-btns{
    margin-top: 20px;
    margin-bottom: 15px;
    width:100%;
    text-align: right;
}
.station-block-sorting-selectAll-clear-btns{
    margin-top: 31px;
    margin-bottom: -40px;
    /* width: 545px; */
    position: absolute;
    height: 38px;
    /* text-align: right; */
    /* left: 440px; */
    z-index: 999;
    right: -8px;
}
@media screen and (min-width: 960px) and (max-width: 1170px){
    .station-block-sorting-selectAll-clear-btns{
        margin-top: 50px;
    }
}
ul.station-sortings-list{
    margin-top:50px;
    height: 292px !important;
}
#step-3 .ui-multiselect.ui-widget{
    border: 1px solid #ccc !important;
    text-indent: 18px;
}
.ui-multiselect-hasfilter ul, .ui-multiselect-checkboxes{
    list-style: outside none none;
    padding: 0px;
}
.ui-multiselect-menu {
    margin-top: 0px;
    box-shadow: none !important;
}
.ui-multiselect-header{
    top:0;
}
.ui-multiselect-header a.ui-multiselect-all, .ui-multiselect-header a.ui-multiselect-none {
    border: none;
    text-align: center;
    border-radius: 15px;
    outline: none;
    color: #62a0fa !important;
    left: 10px;
}
.ui-multiselect-menu .ui-multiselect-checkboxes li:nth-child(1) {
    display: block !important;
}
.ui-multiselect-filter{
    display: none;
}
.selectALLSubmitBtn{
    width: 100%;
    background: #969696;
    color: white !important;
    text-shadow: none;
    border-radius: 0;
}
.btn.btn-default.selectALLSubmitBtn:hover{
    background-color: #969696!important;
}
.stationNameHdr{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 125px;
    float: left;
}
.stationNameHdr{
    margin-left: -25px;
}
.station-sortings-list li{
    /*width: 240px;*/
    width: 50%;
    float: left;
}
/*.selected-station-station-list-items{
    max-height: 277px;
    overflow-y: scroll;
    display: inline-block;
    overflow-x: hidden;
    width: 100%;
}*/
label{
    width: 100%;
}
#salesrep-error, #purchase_order_date-error, #startDate-error,
#endDate-error, #advertiser-error, #branch-error, #roreference-error,#CompaignName-error,
#start-date-campaign-error,#end-date-campaign-error,#SpotsPerDay-error{
    color: #D8000C;
    font-weight: normal;
}

#purchase_order_date-error, #startDate-error, #endDate-error,
#start-date-campaign-error,#end-date-campaign-error{
    position: absolute;
    top: 35px;
    left: 0px;
}
#gbox_POGrid {
    margin-top: 0px !important;
}

.poContainer  .ui-multiselect span:after{
   content: url("../images/dropDownArrow.png");
    position: relative;
    float: right;
    right: 22px;
}
.ui-icon-triangle-2-n-s {
    background-position: -65px -191px;
}
#preLoaderBlock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(203, 203, 203, 0.51);
    opacity: .8;
}
#preLoaderBlock .preLoader{
    position: fixed;
    left: 50%;
    top: 250px;
    margin-left: -32px;
    display: block;
    z-index: 999;

}

.active-campaign{
    display: block !important;
}
.campaignTab{
    display: none;
}
#Region .proccedSelectionBtn, #State .proccedSelectionBtn{
    display: none;
}
.glyphicon-calendar.glyphicon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 10px;
    /*z-index: 999;*/
}
.input-group.date input{
    padding-left:10px;
}
.form-control{
    border-radius: 0px !important;
}
.fa.fa-check-circle-o,.fa.fa-times-circle{
    font-size: 22px;
    top: 10px;
    position: relative;
    width: 28px;
    float: left !important;
    cursor: pointer;
}

.fa.fa-times-circle, .close {
    font-size: 22px;
    top: 10px;
    position: relative;
    width: 28px;
    float: right;
    cursor: pointer;
}
#step-1,#step-2,#step-3{
    padding:20px;
}
.selected-station-station-list-items{
    padding:18px;
}
.creativeVidPlayIcon {
    width: 15px;
    margin-left: 3px;
    margin-top: -3px;
    cursor: pointer;
}
/*#step-5 h4{
    margin-top: 30px;
    margin-left: 91px;
    margin-bottom: 0px;
    font-size: 22px;
}*/
#step-5 h4 {
    margin-bottom: 0px;
    font-size: 22px;
    text-indent: 12px;
}
#step-5 strong,.po-preview strong{
    font-weight:500 !important;
    font-size: 16px;
    float: left;
    min-width: 50px;
}
#step-5 span,.preview-tab-content span {
    font-size: 16px;
    color: gray;
    margin-left: 2px;
    font-weight: normal;
    /*text-transform: capitalize;*/
}
#step-5 h3{
    font-size: 17px;
}
.poCampaign.po-class-for-camp-id {
    /*border: 1px solid rgb(218, 223, 227);*/
    margin-right: 2px;
}
.poCampaign.po-class-for-camp-id.active{
background: rgb(150, 150, 150) none repeat scroll 0% 0% !important;
}
.poCampaign.po-class-for-camp-id a{
    margin-right: 0px;
}
.campaignLabel{
    border-radius: 0px 100px 0px 0px;
    margin-bottom: -1px;
}
.border-light-gray{
    border: 1px solid rgb(218, 223, 227);
}
.historyCampaign,.historyTimeStamp{
    border:none;
    margin-bottom: 20px;
}
.historyTimeStamp li.poClass,
.vmcConfig li.poClass {
    margin-bottom: 3px;
    width: 250px;
    cursor: pointer;
}
.vartical-tabs-po-preview{
    width: 265px;
    float: left;
}
.horizontal-tabs-po-preview{
    width: 700px;
    float: left;
}
.po-history-container{
    position: relative;
    top: 80px;
}
.campaignTab li{
    /*display: inline-flex;*/
    width:100%;
}
#refresh_POGrid{
    display: none;
}

.errorsDisplay{    
    font-weight: normal;
    /*color: #D8000C;*/
}

#creativegriderrors ul{
    padding: 0;
}
.selected-list-in-collapse .selectAll-clearBtns{
    right: 0px;
}
#locationerrors{
    margin-top: 20px;
}
.cloneBtn,.previewEditBtn,.previewDelbtn
{
    display:none ;
}
.region-station-list .checkbox label,
.state-station-list .checkbox label,
.station-sortings-list .checkbox label{
    padding-left: 0px;
}
.alert-danger {
    position: relative !important;
    top: 0 !important;
}
.alert-success {
    position: relative !important;
    top: 0 !important;
}
.toggleActive.disabled,.toggleReview{
    width: 76px !important;
}
.toggle-inner{
    width:132px !important;
}
.toggle-on.active{
    width:66px !important;
}
.toggle-off{
    width: 66px !important;
    margin-left: -10px !important;
    text-indent: 6.66667px !important;
}
.margin-left-10{
        margin-left: -22px;
}
#creativeerrors{
        margin-top: 34px;
}
.nicescroll-rails div{
    width:8px !important;
    background-color: rgb(107, 107, 107) !important;
}
.station-sortings-lis{
    overflow: auto !important;
}
.long-text{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
   /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.more,.less{
    color: #189abc !important;
    font-weight: bold;
}
a:hover, a:focus {
    color: black;
    text-decoration: none;
}
.tab-pane.po-tab.active{
    margin-bottom: 22px;
    display: inline-block;
}
.amber-color{
color: #ffbf00 !important;
}
.green-color{
    color: #9EC93F !important;
}
.ui-multiselect-checkboxes {
    margin-top: 0px;
}
.listNav, .ln-letters{
    background: #dadfe3;
}
a.activePO{
    color: #9EC93F !important;
    border-bottom: 1px solid #9EC93F !important;
    padding: 5px !important;
}
a.partialPO{
    color: #ffbf00 !important;
    border-bottom: 1px solid #ffbf00 !important;
    padding: 5px !important;
}
.close-back-to-grid{
    float: right;
    font-size: 28px !important;
    margin-top: -7px;
    cursor: pointer;
    color: rgb(157, 157, 157);
    font-weight: normal !important;
    position: absolute !important;
    right: 0;
    z-index: 999;
}
.bootbox .btn-primary{
    color: white !important;
}
.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-y: scroll
}
.showMultiselectItem{
    display: none !important;
}
.clearAllBtnInRegion{
    margin-right: -7px;
}
.ui-multiselect-checkboxes li.hidingSearchOpt {
    visibility: hidden;
    height: 0px !important;
}
.station-block-final{
    height: 328px !important;
}
#SummaryPreview span.pull-right{
    display: none;
}
#SummaryPreview span.closeIcon{
    display: none;
}
#SummaryPreview .expand-mode,#SummaryPreview .collapse-mode{
    float: right;
}
#SummaryPreview .selected-station-station-list-items {
    padding-left: 26px;
    list-style-type: decimal;
    padding-top: 0;
    font-size: 14px;
}
#SummaryPreview ul.selected-lists li ul li{
    list-style-type: decimal !important;
    width:100%;
    clear: both;
    font-size: 14px;
}
#SummaryPreview ul.selected-state-station-lists li ul li{
    list-style-type: decimal !important;
    width:100%;
    clear: both;
    font-size: 14px;
}
#SummaryPreview ul.selected-state-station-lists li ul,#SummaryPreview ul.selected-lists li ul{
    padding-left: 30px !important;
}
.preview-tab-content{
    padding:0px !important;
}
#SummaryPreview span.stationNameHdr{
    font-size: 14px !important;
    text-indent: 1px;
    margin-left: -8px;
    max-width: 150px;
}
.ui-jqgrid tr.jqgrow td{
    padding-right: 11px !important;
}
ul.selected-state-station-lists,.selected-lists{
    margin-top:-2px;
}
.whiteColor{
    color: white !important;
}
.stationClearBtn{
    display: none;
}
.location-tabs-blocks li.active>a,
.po-preview li.active>a{
    /*border: 1px solid #ff7d00 !important;*/
    /*background-color: #9c9c9c;*/
    background-color: #9c9c9c !important;
}
.location-tabs-blocks li.active > a,.location-tabs-blocks li.active > a:hover{
    background-color: #9c9c9c !important;
    color: white !important;
    border: 1px solid #9c9c9c !important;
}
.location-tabs-blocks .nav-tabs>li>a,
.po-preview .nav-tabs>li>a{
    border: 1px solid #dadfe3;
}
#POCreativeGrid .toggle-light{
     top: 8px;
}
.poClass.active a{
    border: none !important;
    color: rgb(255, 255, 255) !important;
    background: rgb(150, 150, 150) none repeat scroll 0% 0% !important;
}
